<div class="clock">
  <div class="box hr1" id="nine">
    <span class="seg a"></span>
    <span class="seg b"></span>
    <span class="seg c"></span>
    <span class="seg d"></span>
    <span class="seg e"></span>
    <span class="seg f"></span>
    <span class="seg g"></span>
  </div>
  <div class="box hr2">
    <span class="seg a"></span>
    <span class="seg b"></span>
    <span class="seg c"></span>
    <span class="seg d"></span>
    <span class="seg e"></span>
    <span class="seg f"></span>
    <span class="seg g"></span>
  </div>
  <span class="dot1"></span>
  <div class="box min1">
    <span class="seg a"></span>
    <span class="seg b"></span>
    <span class="seg c"></span>
    <span class="seg d"></span>
    <span class="seg e"></span>
    <span class="seg f"></span>
    <span class="seg g"></span>
  </div>
  <div class="box min2">
    <span class="seg a"></span>
    <span class="seg b"></span>
    <span class="seg c"></span>
    <span class="seg d"></span>
    <span class="seg e"></span>
    <span class="seg f"></span>
    <span class="seg g"></span>
  </div>
  <span class="dot2"></span>
  <div class="box sec1">
    <span class="seg a"></span>
    <span class="seg b"></span>
    <span class="seg c"></span>
    <span class="seg d"></span>
    <span class="seg e"></span>
    <span class="seg f"></span>
    <span class="seg g"></span>
  </div>
  <div class="box sec2">
    <span class="seg a"></span>
    <span class="seg b"></span>
    <span class="seg c"></span>
    <span class="seg d"></span>
    <span class="seg e"></span>
    <span class="seg f"></span>
    <span class="seg g"></span>
  </div>
</div>