.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.welcome-restaurant {
    font-size: 30px;
    font-weight: bold;
    color: #FF0B00;
}

.welcome-container {
    text-align: center;
    padding: 10px;
}

.lunch-starts {
    font-size: 25px;
    font-weight: bold;
}