<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="fudnow-logo">
        <div id="logo-wraper">
          <img class="rotating-img fudnow-logo" src="./assets/img/fudnow_img.png" />
          <img hidden class="rotating-img fudnow-logo" src="./assets/img/fudnow_img.png" />
        </div>
      </div>
      <div class="fud-now-tv-label">FUD Now TV</div>
      <div class="find-ur-dine-label">Find Ur Dine</div>
    </div>
    <div class="col-sm-6 welcome-container">
      <div class="welcome-restaurant">Welcome to Essence Of india</div>
      <div class="lunch-starts">Our Lunch starts in </div>
      <div class="lunch-timer">
        <app-countdown-timer></app-countdown-timer>
      </div>
    </div>
  </div>

  <div class="row" style="background-image:url('./assets/img/pre_menu_bg.png')">

  </div>
</div>