<div class="raffleDisplay">
  <div class="stage">
    <svg id="demo" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
      <defs>
        <lineargradient id="theGradient" gradientUnits="userSpaceOnUse" x1="200" y1="0" x2="200" y2="400">
          <stop offset="0%" stop-color="#000000" />
          <stop offset="25%" stop-color="#fff" />
          <stop offset="75%" stop-color="#fff" />
          <stop offset="100%" stop-color="#000000" />
        </lineargradient>
        <mask id="theMask">
          <rect x="0" y="0" width="400" height="400" fill="url(#theGradient)" />
        </mask>
      </defs>

      <rect x="0" y="0" width="400" height="400" fill="transparent" />
      <g mask="">
        <rect x="0" y="0" width="400" height="400" fill="transparent" />
        <line x1="2" y1="0" x2="2" y2="400" stroke-width="4" stroke="#fff" />
        <line x1="398" y1="0" x2="398" y2="400" stroke-width="4" stroke="#fff" />
        <text id="node00" transform="translate(200 300)" text-anchor="middle" font-size="320" fill="#fff">0</text>
        <text id="node01" transform="translate(200 -100)" text-anchor="middle" font-size="320" fill="#fff">0</text>
      </g>
    </svg>
    <svg id="demo" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
      <defs>
        <lineargradient id="theGradient" gradientUnits="userSpaceOnUse" x1="200" y1="0" x2="200" y2="400">
          <stop offset="0%" stop-color="#000000" />
          <stop offset="25%" stop-color="#fff" />
          <stop offset="75%" stop-color="#fff" />
          <stop offset="100%" stop-color="#000000" />
        </lineargradient>
        <mask id="theMask">
          <rect x="0" y="0" width="400" height="400" fill="url(#theGradient)" />
        </mask>
      </defs>

      <rect x="0" y="0" width="400" height="400" fill="transparent" />
      <g mask="">
        <rect x="0" y="0" width="400" height="400" fill="transparent" />
        <line x1="2" y1="0" x2="2" y2="400" stroke-width="4" stroke="#fff" />
        <line x1="398" y1="0" x2="398" y2="400" stroke-width="4" stroke="#fff" />
        <text id="node10" transform="translate(200 300)" text-anchor="middle" font-size="320" fill="#fff">0</text>
        <text id="node11" transform="translate(200 -100)" text-anchor="middle" font-size="320" fill="#fff">0</text>
      </g>
    </svg>
    <svg id="demo" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
      <defs>
        <lineargradient id="theGradient" gradientUnits="userSpaceOnUse" x1="200" y1="0" x2="200" y2="400">
          <stop offset="0%" stop-color="#000000" />
          <stop offset="25%" stop-color="#fff" />
          <stop offset="75%" stop-color="#fff" />
          <stop offset="100%" stop-color="#000000" />
        </lineargradient>
        <mask id="theMask">
          <rect x="0" y="0" width="400" height="400" fill="url(#theGradient)" />
        </mask>
      </defs>

      <rect x="0" y="0" width="400" height="400" fill="transparent" />
      <g mask="">
        <rect x="0" y="0" width="400" height="400" fill="transparent" />
        <line x1="2" y1="0" x2="2" y2="400" stroke-width="4" stroke="#fff" />
        <line x1="398" y1="0" x2="398" y2="400" stroke-width="4" stroke="#fff" />
        <text id="node20" transform="translate(200 300)" text-anchor="middle" font-size="320" fill="#fff">0</text>
        <text id="node21" transform="translate(200 -100)" text-anchor="middle" font-size="320" fill="#fff">0</text>
      </g>
    </svg>

    <svg id="demo" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
      <defs>
        <lineargradient id="theGradient" gradientUnits="userSpaceOnUse" x1="200" y1="0" x2="200" y2="400">
          <stop offset="0%" stop-color="#000000" />
          <stop offset="25%" stop-color="#fff" />
          <stop offset="75%" stop-color="#fff" />
          <stop offset="100%" stop-color="#000000" />
        </lineargradient>
        <mask id="theMask">
          <rect x="0" y="0" width="400" height="400" fill="url(#theGradient)" />
        </mask>
      </defs>

      <rect x="0" y="0" width="400" height="400" fill="transparent" />
      <g mask="">
        <rect x="0" y="0" width="400" height="400" fill="transparent" />
        <line x1="2" y1="0" x2="2" y2="400" stroke-width="4" stroke="#fff" />
        <line x1="398" y1="0" x2="398" y2="400" stroke-width="4" stroke="#fff" />
        <text id="node30" transform="translate(200 300)" text-anchor="middle" font-size="320" fill="#fff">0</text>
        <text id="node31" transform="translate(200 -100)" text-anchor="middle" font-size="320" fill="#fff">0</text>
      </g>
    </svg>
    <svg id="demo" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
      <defs>
        <lineargradient id="theGradient" gradientUnits="userSpaceOnUse" x1="200" y1="0" x2="200" y2="400">
          <stop offset="0%" stop-color="#000000" />
          <stop offset="25%" stop-color="#fff" />
          <stop offset="75%" stop-color="#fff" />
          <stop offset="100%" stop-color="#000000" />
        </lineargradient>
        <mask id="theMask">
          <rect x="0" y="0" width="400" height="400" fill="url(#theGradient)" />
        </mask>
      </defs>

      <rect x="0" y="0" width="400" height="400" fill="transparent" />
      <g mask="">
        <rect x="0" y="0" width="400" height="400" fill="transparent" />
        <line x1="2" y1="0" x2="2" y2="400" stroke-width="4" stroke="#fff" />
        <line x1="398" y1="0" x2="398" y2="400" stroke-width="4" stroke="#fff" />
        <text id="node40" transform="translate(200 300)" text-anchor="middle" font-size="320" fill="#fff">0</text>
        <text id="node41" transform="translate(200 -100)" text-anchor="middle" font-size="320" fill="#fff">0</text>
      </g>
    </svg>

    <svg id="demo" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
      <defs>
        <lineargradient id="theGradient" gradientUnits="userSpaceOnUse" x1="200" y1="0" x2="200" y2="400">
          <stop offset="0%" stop-color="#000000" />
          <stop offset="25%" stop-color="#fff" />
          <stop offset="75%" stop-color="#fff" />
          <stop offset="100%" stop-color="#000000" />
        </lineargradient>
        <mask id="theMask">
          <rect x="0" y="0" width="400" height="400" fill="url(#theGradient)" />
        </mask>
      </defs>

      <rect x="0" y="0" width="400" height="400" fill="transparent" />
      <g mask="">
        <rect x="0" y="0" width="400" height="400" fill="transparent" />
        <line x1="2" y1="0" x2="2" y2="400" stroke-width="4" stroke="#fff" />
        <line x1="398" y1="0" x2="398" y2="400" stroke-width="4" stroke="#fff" />
        <text id="node50" transform="translate(200 300)" text-anchor="middle" font-size="320" fill="#fff">0</text>
        <text id="node51" transform="translate(200 -100)" text-anchor="middle" font-size="320" fill="#fff">0</text>
      </g>
    </svg>

    <svg id="demo" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
      <defs>
        <lineargradient id="theGradient" gradientUnits="userSpaceOnUse" x1="200" y1="0" x2="200" y2="400">
          <stop offset="0%" stop-color="#000000" />
          <stop offset="25%" stop-color="#fff" />
          <stop offset="75%" stop-color="#fff" />
          <stop offset="100%" stop-color="#000000" />
        </lineargradient>
        <mask id="theMask">
          <rect x="0" y="0" width="400" height="400" fill="url(#theGradient)" />
        </mask>
      </defs>

      <rect x="0" y="0" width="400" height="400" fill="transparent" />
      <g mask="">
        <rect x="0" y="0" width="400" height="400" fill="transparent" />
        <line x1="2" y1="0" x2="2" y2="400" stroke-width="4" stroke="#fff" />
        <line x1="398" y1="0" x2="398" y2="400" stroke-width="4" stroke="#fff" />
        <text id="node60" transform="translate(200 300)" text-anchor="middle" font-size="320" fill="#fff">0</text>
        <text id="node61" transform="translate(200 -100)" text-anchor="middle" font-size="320" fill="#fff">0</text>
      </g>
    </svg>

    <svg id="demo" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
      <defs>
        <lineargradient id="theGradient" gradientUnits="userSpaceOnUse" x1="200" y1="0" x2="200" y2="400">
          <stop offset="0%" stop-color="#000000" />
          <stop offset="25%" stop-color="#fff" />
          <stop offset="75%" stop-color="#fff" />
          <stop offset="100%" stop-color="#000000" />
        </lineargradient>
        <mask id="theMask">
          <rect x="0" y="0" width="400" height="400" fill="url(#theGradient)" />
        </mask>
      </defs>

      <rect x="0" y="0" width="400" height="400" fill="transparent" />
      <g mask="">
        <rect x="0" y="0" width="400" height="400" fill="transparent" />
        <line x1="2" y1="0" x2="2" y2="400" stroke-width="4" stroke="#fff" />
        <line x1="398" y1="0" x2="398" y2="400" stroke-width="4" stroke="#fff" />
        <text id="node70" transform="translate(200 300)" text-anchor="middle" font-size="320" fill="#fff">0</text>
        <text id="node71" transform="translate(200 -100)" text-anchor="middle" font-size="320" fill="#fff">0</text>
      </g>
    </svg>


    <svg id="demo" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
      <defs>
        <lineargradient id="theGradient" gradientUnits="userSpaceOnUse" x1="200" y1="0" x2="200" y2="400">
          <stop offset="0%" stop-color="#000000" />
          <stop offset="25%" stop-color="#fff" />
          <stop offset="75%" stop-color="#fff" />
          <stop offset="100%" stop-color="#000000" />
        </lineargradient>
        <mask id="theMask">
          <rect x="0" y="0" width="400" height="400" fill="url(#theGradient)" />
        </mask>
      </defs>

      <rect x="0" y="0" width="400" height="400" fill="transparent" />
      <g mask="">
        <rect x="0" y="0" width="400" height="400" fill="transparent" />
        <line x1="2" y1="0" x2="2" y2="400" stroke-width="4" stroke="#fff" />
        <line x1="398" y1="0" x2="398" y2="400" stroke-width="4" stroke="#fff" />
        <text id="node80" transform="translate(200 300)" text-anchor="middle" font-size="320" fill="#fff">0</text>
        <text id="node81" transform="translate(200 -100)" text-anchor="middle" font-size="320" fill="#fff">0</text>
      </g>
    </svg>


    <svg id="demo" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 400 400">
      <defs>
        <lineargradient id="theGradient" gradientUnits="userSpaceOnUse" x1="200" y1="0" x2="200" y2="400">
          <stop offset="0%" stop-color="#000000" />
          <stop offset="25%" stop-color="#fff" />
          <stop offset="75%" stop-color="#fff" />
          <stop offset="100%" stop-color="#000000" />
        </lineargradient>
        <mask id="theMask">
          <rect x="0" y="0" width="400" height="400" fill="url(#theGradient)" />
        </mask>
      </defs>

      <rect x="0" y="0" width="400" height="400" fill="transparent" />
      <g mask="">
        <rect x="0" y="0" width="400" height="400" fill="transparent" />
        <line x1="2" y1="0" x2="2" y2="400" stroke-width="4" stroke="#fff" />
        <line x1="398" y1="0" x2="398" y2="400" stroke-width="4" stroke="#fff" />
        <text id="node90" transform="translate(200 300)" text-anchor="middle" font-size="320" fill="#fff">0</text>
        <text id="node91" transform="translate(200 -100)" text-anchor="middle" font-size="320" fill="#fff">0</text>
      </g>
    </svg>

  </div>

</div>
<br>

<div class="raffle-action-buttons">
  <ng-container *ngIf="isAllWinnersSelected();else raffleSelection">
    <div class="winners-selection-complete">Winners selection is completed</div>
  </ng-container>
  <ng-template #raffleSelection>
    <button mat-raised-button (click)="startRaffle()" class="start-raffle-btn btn">Start</button>
    <button *ngIf="raffleData.raffleType===3" mat-raised-button (click)="stopRaffle('manual')" class="start-raffle-btn btn">Stop</button>
  </ng-template>
</div>