<app-header></app-header>

<div class="container">
    <br>

    <div *ngIf="userInfo&&userInfo.role==='ADMIN';else raffleInitiator">
        <ul class="nav nav-tabs">
            <li routerLinkActive="active">
                <a routerLink="raffle">Raffle</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="promotion">Promotion</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="administration">Administration</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="reports">Reports</a>
            </li>
        </ul>
    </div>
    <ng-template #raffleInitiator>
        <ul class="nav nav-tabs">
            <li routerLinkActive="active">
                <a routerLink="raffle">Raffle</a>
            </li>
        </ul>
    </ng-template>


    <div class="tab-content">
        <router-outlet></router-outlet>
    </div>

</div>
<br>
<!-- <app-footer></app-footer> -->