<div class="card offers-gradient">
  <div class="offers-of-the-day-title">Offers of the day</div>
  <!--Content-->
  <div class="text-center white-text">
    <div class="card-body">

      <mdb-carousel [isControls]="false" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
        <mdb-carousel-item>
          <mdb-card>
            <mdb-card-img src="./assets/img/Offers_Slide1.jpg" alt="Card image cap"></mdb-card-img>
          </mdb-card>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <mdb-card>
            <mdb-card-img src="./assets/img/Offers_Slide2.jpg" alt="Card image cap"></mdb-card-img>
          </mdb-card>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <mdb-card>
            <mdb-card-img src="./assets/img/Offers_Slide3.jpg" alt="Card image cap"></mdb-card-img>
          </mdb-card>
        </mdb-carousel-item>
      </mdb-carousel>
      <br>

      <mdb-carousel [isControls]="false" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
        <mdb-carousel-item>
          <mdb-card>
            <mdb-card-img src="./assets/img/Offers_Slide4.jpg" alt="Card image cap"></mdb-card-img>
          </mdb-card>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <mdb-card>
            <mdb-card-img src="./assets/img/Offers_Slide5.jpg" alt="Card image cap"></mdb-card-img>
          </mdb-card>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <mdb-card>
            <mdb-card-img src="./assets/img/Offers_Slide6.jpg" alt="Card image cap"></mdb-card-img>
          </mdb-card>
        </mdb-carousel-item>
      </mdb-carousel>

      <br>
      <mdb-carousel [isControls]="false" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
        <mdb-carousel-item>
          <mdb-card>
            <mdb-card-img src="./assets/img/Offers_Slide2.jpg" alt="Card image cap"></mdb-card-img>
          </mdb-card>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <mdb-card>
            <mdb-card-img src="./assets/img/Offers_Slide4.jpg" alt="Card image cap"></mdb-card-img>
          </mdb-card>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <mdb-card>
            <mdb-card-img src="./assets/img/Offers_Slide6.jpg" alt="Card image cap"></mdb-card-img>
          </mdb-card>
        </mdb-carousel-item>
      </mdb-carousel>


    </div>
  </div>

</div>