<!-- <div class="container-fluid">
  <div class="menu-body">
    <div class="row">
      <div class="col-md-3">
        <app-special-offers></app-special-offers>
      </div>
      <div class="col-md-9">
        <app-dining-menu></app-dining-menu>
      </div>
    </div>
  </div>
  <div class="menu-footer">
    <div class="row">
      <div class="col-md-12">
        <div class="download-app">Hungry! can't wait for menu updates? Download Now
          <span class="fudnow-red">FudNow</span> App on Play Store or App Store.</div>
      </div>
    </div>
  </div>
</div> -->



<app-pre-menu-start></app-pre-menu-start>