<h2 mat-dialog-title>Reset Password</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="isFormCreated===true; else preloadForm">
    <form [formGroup]="userForm">
      <div class="row">
        <div class="col-sm-4">
          <div class="nbk-label">User ID</div>
        </div>
        <div class="col-sm-8">
          <input formControlName="_id" class="form-control" type="text" />
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-sm-4">
          <div class="nbk-label">Password</div>
        </div>
        <div class="col-sm-8">
          <input class="form-control" type="password" formControlName="password"
            [ngClass]="{'required-control': validateFormContol('password')}" />
        </div>
      </div>


      <br>

      <div class="row">
        <div class="col-sm-4">
          <div class="nbk-label">Confirm Password</div>
        </div>
        <div class="col-sm-8">
          <input class="form-control" type="password" formControlName="confirmPassword"
            [ngClass]="{'required-control': checkPasswords()}" />
        </div>
      </div>



    </form>

  </div>
  <br>

  <ng-template #preloadForm>
    Please wait Loading.....
  </ng-template>

</mat-dialog-content>
<mat-dialog-actions *ngIf="isFormCreated===true" align="end">
  <button class="nbk-secondary-btn" mat-button mat-dialog-close>Cancel</button>
  <button class="nbk-primary-btn" [disabled]="this.userForm.invalid" mat-button (click)="resetPassword()"
    cdkFocusInitial>Save</button>
</mat-dialog-actions>