<div class="row">
  <div class="col-sm-6">
    <div class="search5back">
      <div id="searchbox5">
        <input matInput (keyup)="applyFilter($event.target.value)" type="search" id="search" name="q" size="40" placeholder="Search..."
        />
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <button style="float:right" type="button" (click)="createPromo()" class="nbk-primary-btn">Add Promotion</button>
  </div>
</div>

<br>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Promo Code</th>
      <td mat-cell *matCellDef="let row"> {{row._id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="promoType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Promo Type </th>
      <td mat-cell *matCellDef="let row"> {{row.promoType.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="promoName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Promo Description </th>
      <td mat-cell *matCellDef="let row">
        {{row.promoName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="scheduledDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
      <td mat-cell *matCellDef="let row">
        {{row.scheduledDate | date: 'MMM d, y, h:mm:ss a'}} </td>
    </ng-container>



    <ng-container matColumnDef="isCompleted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
      <td mat-cell *matCellDef="let row"> {{row.isCompleted?'Completed':'Active'}} </td>
    </ng-container>

    <ng-container matColumnDef="view_promo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let row"> {{row.view_promo}}
        <a class="view-icon" (click)="viewPromo(row)">
          <i class="material-icons">visibility</i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>