<h2 mat-dialog-title>Raffles assigned to User:
  <strong>{{data.userId}}</strong>
</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="isFormCreated===true; else preloadForm">

    <div *ngIf="dataSource&&dataSource.data.length>0;else noRaffles">
      <p>Below are the list of raffles assigned to {{data.userId}}</p>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="raffleRef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Raffle Ref </th>
            <td mat-cell *matCellDef="let row"> {{row.raffleRef}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="raffleName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Raffle Name </th>
            <td mat-cell *matCellDef="let row"> {{row.raffleName}} </td>
          </ng-container>



          <!-- Name Column -->
          <ng-container matColumnDef="promotionName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Promotion Name </th>
            <td mat-cell *matCellDef="let row">
              {{row.promotion.promoName}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> date </th>
            <td mat-cell *matCellDef="let row"> {{row.raffleDate | date: 'MMM d, y, h:mm:ss a'}}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
            <td mat-cell *matCellDef="let row"> {{row.isCompleted?'Completed':'Active'}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>




    </div>
    <ng-template #noRaffles>
      <p class="raffle-section">
        No Raffles are assigned to the user:
        <strong> {{data.userId}}</strong>
      </p>
    </ng-template>
  </div>
  <br>

  <ng-template #preloadForm>
    Please wait Loading.....
  </ng-template>

</mat-dialog-content>


<mat-dialog-actions align="end">
  <button class="nbk-secondary-btn" mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>