<div class="personal-info">
  <div>Full Name
    <span>:</span>
  </div>
  <div>Janardhanarao Burle
    <!-- <span>
      <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
    </span> -->
  </div>
</div>

<div class="personal-info">
  <div>Civil Id
    <span>:</span>
  </div>
  <div>123456789123
    <!-- <span>
      <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
    </span> -->
  </div>
</div>